* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-size: 18px;
}

.container {
    width: 60%;
    max-width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
    display: flex;
}
.left.section {
    width: 40%;
}
.right_section {
    width: 59%;
    display: flex;
    flex-direction: column;
}